<!DOCTYPE html>
<html>
<head>
<title>Flask App</title>
</head>
<body>

<h1>Flipkart Review Scrapping and analytics</h1>
<h2>Made by Aditya Anurag Dash</h2>
<h3>My Github website:-
<a href = "https://github.com/a-anurag1024">a-anurag1024</a>
</h3>

<hr>


<form action ="/comments" method="post" autocomplete="on">
    <label for="search_str"><b>Enter the product to be searched</b></label>
    <input type="text" id="search_str" name="search_str"><br>
    <label for="no_of_searches"><b>Enter the number of comments to be extracted (max. 100)</b></label>
    <input type="text" id="no_of_searches" name = "no_of_searches"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>